/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2019, 9:27:23 PM
    Author     : dejan
*/

body{
    font-size: 12px;
}
.nav > li > a{
    padding: 3px 8px;
    font-size: 14px;
}

