<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bot</title> 
    </head>

    <body>
         <div th:fragment="folderListingFragment"  th:remove="tag">
        <!--<div id = "folderListing-table" th:fragment="folderListingFragment" >-->
            <div class="row">
                <div class="btn-group-vertical col-sm-6" role="group">
                        <button  type="button" class="root-button btn btn-info buttons mb-2 mt-2 btn-sm" >Root1</button>
                </div>
                    <div class="btn-group-vertical col-sm-6" role="group">
                        <button type="button" class="root-button btn btn-info buttons mb-2 mt-2 btn-sm" >Root1</button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group-vertical col-sm-6" role="group">
                    <th:block  th:each="partition : ${partitions}">
                        <button th:id="${partition.getAbsolutePath()}" type="button" class="list-button btn btn-primary mb-1 btn-sm"  th:text="${partition.getName()}">Test</button>
                    </th:block>
                </div>
                <div class="btn-group-vertical col-sm-6" role="group">
                    <th:block  th:each="partition : ${partitions}">
                        <button th:id="${partition.getAbsolutePath()}" type="button" class="list-button btn btn-primary mb-1 btn-sm"  th:text="${partition.getName()}">Test</button>
                    </th:block>
                </div>
            </div>

            <hr/>

        </div>
    </body>
</html>
