<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bot</title> 
    </head>

    <body>
        <th:block th:fragment="paneFragment" >
            <div class="btn-group btn-group-sm" role="group">
                <button th:id="${folder}" type="button" class="root-button btn btn-info btn-sm buttons mb-2 mt-2" 
                        th:text="${folder}">Root</button>
                <th:block th:if="${lock}" >
                    <button class="up-button btn btn-secondary btn-sm buttons mb-2 mt-2 iconButton"><i class="fa fa-lock"></i></button>
                </th:block>
                <button class="up-button btn btn-secondary btn-sm buttons mb-2 mt-2 iconButton"><i class="fa fa-upload"></i></button>
            </div>
            <th:block  th:each="file : ${file_list}">
                <div class="btn-group btn-group-sm" role="group">
                    <th:block th:if="${#strings.equals(side,'left')}" >
                        <button th:id="${file.getName()}" type="button" class="list-button btn btn-primary btn-sm mb-1" 
                                th:attr="data-type=${file.isFile()} ? 'file' : 'folder',data-path=${file.getAbsolutePath()}" th:text="${file.getName()}">Root</button>

                        <button class="btn btn-primary btn-sm buttons mb-1 sizeButton" 
                                th:text="${file.isFile()} ? ${T(com.ds.foldercompare.util.Constants).readableFileSize(file.length())} : ''"
                                th:title="${file.length()}"></button>
                        <button class="btn btn-primary btn-sm buttons mb-1 dateButton" 
                                th:text="${T(com.ds.foldercompare.util.Constants).getDate(file.lastModified())}"></button>
                        <button class="btn btn-primary btn-sm buttons mb-1 iconButton"><i class='fa' th:classappend="${file.isFile()} ? fa-file-text : fa-folder-open"></i></button>
                    </th:block>
                    <th:block th:if="${#strings.equals(side,'right')}" >
                        <button class="btn btn-primary btn-sm buttons mb-1 iconButton"><i class='fa' th:classappend="${file.isFile()} ? fa-file-text : fa-folder-open"></i></button>
                        <button class="btn btn-primary btn-sm buttons mb-1 dateButton" 
                                th:text="${T(com.ds.foldercompare.util.Constants).getDate(file.lastModified())}"></button>
                        <button class="btn btn-primary btn-sm buttons mb-1 sizeButton" 
                                th:text="${file.isFile()} ? ${T(com.ds.foldercompare.util.Constants).readableFileSize(file.length())} : ''"
                                th:title="${file.length()}"></button>
                        <button th:id="${file.getName()}" type="button" class="list-button btn btn-primary btn-sm mb-1" 
                                th:attr="data-type=${file.isFile()} ? 'file' : 'folder',data-path=${file.getAbsolutePath()}" th:text="${file.getName()}">Root</button>

                    </th:block>
                   
                </div>
            </th:block>
        </th:block>

    </body>
</html>
